<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha1/0.6.0/sha1.js"></script>

    <script>
        window.onload = function() {
            sha1('Message to hash');
            var hash = sha1.create();
            console.log(hash);
            var pwd = document.getElementById('password');
            var confirm_pwd = document.getElementById('confirm_password');

            
            var pwd = document.getElementById('password');
            var confirm_password = document.getElementById('confirm_password');
            function validatePassword(){
                if(password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwörter stimmen nicht überein!");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }
            pwd.onkeyup = validatePassword;
            confirm_password.onkeyup = validatePassword;

            $('#submit_login').bind('click', function(e)  {
                form = $("#login_from");
                form.validate();
                if (form.valid) {
                    sha1($('#password_login').val());
                    var hash = sha1.create();
                    hash.hex();
                    console.log('{' + '"username" : "' + $('#username_login').valueOf() + '"' + ',' + '"password" : "' + hash + '" }')
                    $.post('/registration/srv/',  '{' + '"username" : "' + $('#username_login').valueOf() + '"' + ',' + '"password" : "' + hash + '" }');
                }
            });


            $('#submit_registration').bind('click', function(e)  {
                form = $("#registration_from");
                form.validate();
                if(form.valid) {
                    sha1($('#password_login').val());
                    var hash = sha1.create();
                    hash.hex();
                    $.post('/registration/srv/', '{' + 
                    '"salutation" : "' + $('#salutation').val() + '", ' + 
                    '"firstname" : "' + $('#firstname').val() + '", ' + 
                    '"lastname" : "' + $('#lastname').val() + '", ' + 
                    '"email" : "' + $('#email').val() + '", ' + 
                    '"username" : "' + $('#username').val() + '", ' + 
                    '"password" : "' + hash + '", ' + 
                    '"country" : "' + $('#country').val() + '", ' + 
                    '"postcode" : "' + $('#postcode').val() + '", ' + 
                    '"place" : "' + $('#place').val() + '", ' + 
                    '"street" : "' + $('#street').val() + '", ' + 
                    '"housenumber" : "' + $('#housenumber').val() + '" }' );
                }
            });
        }
        pwd.onchange = validatePassword;
        confirm_pwd.onkeyup = validatePassword;
    </script>
</head>

<body>
    <!--Startseite-->
    <div data-role="page" id="start">
        <div data-role="header">
            <h1>Microservices</h1>
            <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
                <a href="#login" class="ui-btn ui-btn-icon-left ui-icon-user">Login</a>
                <a href="#reg" class="ui-btn ui-btn-icon-left ui-icon-edit">Registrierung</a>
            </div>
        </div>
        <div data-role="main" data-type="horizontal">
        </div>
    </div>

    <!--Registrierung-->
    <div data-role="page" id="reg">
        <div data-role="header">
            <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-left">
                    <a href="#start" class="ui-btn ui-btn-icon-left ui-icon-back">Zurück</a>
            </div>
            <h1>Microservices</h1>
            <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
                <a href="#login" class="ui-btn ui-btn-icon-left ui-icon-user">Login</a>
                <a href="#reg" class="ui-btn ui-btn-icon-left ui-icon-edit ui-btn-active">Registrierung</a>
            </div>
        </div>
        <div data-role="main" data-type="horizontal">
            <form id="registration_form">
                <div class="ui-corner-all custom-corners" style="max-width: 600px; margin: 0 auto">
                    <div class="ui-grid-solo">
                        <div class="ui-block-a">
                            <h3 class="ui-bar ui-bar-a ui-corner-all">Registrierung</h3>
                            <div class="ui-body ui-body-a ui-corner-all" style="padding: 2em">
                                <div class="ui-field-contain">
                                    <label for="salutation" class="select">Anrede</label>
                                    <select name="salutation" id="salutation" data-native-menu="false">
                                        <option value="Frau">Frau</option>
                                        <option value="Herr">Herr</option>
                                    </select>
                                </div>
                                <div class="ui-grid-a">
                                    <div class="ui-block-a" style="padding-right: 20px">
                                        <label for="firstname">Vorname:</label>
                                        <input type="text" name="firstname" id="firstname" value="" placeholder="Max" required="required" />
                                    </div>
                                    <div class="ui-block-b" style="padding-right: 1px">
                                        <label for="lastname">Nachname:</label>
                                        <input type="text" name="lastname" id="lastname" value="" placeholder="Mustermann" required="required" />
                                    </div>
                                </div>

                                <label for="username">Benutzername:</label>
                                <input type="text" name="username" id="username" value="" required="required" />

                                <label for="email">E-Mail:</label>
                                <input type="email" name="email" id="email" value="" placeholder="max@mustermann.de" required="required" />
                                
                                <div class="ui-grid-a">
                                        <div class="ui-block-a" style="padding-right: 20px">
                                            <label for="password">Passwort *:</label>
                                            <input type="password" name="password" id="password" value="" placeholder="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required" />
                                        </div>
                                        <div class="ui-block-b" style="padding-right: 1px">
                                            <label for="confirm_password">Passwort wiederholen:</label>
                                            <input type="password" name="confirm_password" id="confirm_password" value="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required" />
                                        </div>
                                </div>

                                <div class="ui-grid-a">
                                    <div class="ui-block-a" style="padding-right: 20px">
                                        <label for="place">Stadt:</label>
                                        <input type="text" name="place" id="place" value="" placeholder="Sankt Augustin" required="required" />
                                    </div>
                                    <div class="ui-block-b" style="padding-right: 1px">
                                        <label for="postcode">Postleitzahl:</label>
                                        <input type="text" name="postcode" id="postcode" value="" placeholder="12345" required="required" pattern="[0-9]{5}" />
                                    </div>
                                </div>
                                <div class="ui-grid-a">
                                    <div class="ui-block-a" style="padding-right: 20px">
                                        <label for="street">Straße:</label>
                                        <input type="text" name="street" id="street" value="" placeholder="Auf dem Holzweg" required="required" />
                                    </div>
                                    <div class="ui-block-b" style="padding-right: 1px">
                                        <label for="housenumber">Hausnummer:</label>
                                        <input type="text" name="housenumber" id="housenumber" value="" placeholder="95" required="required" pattern="[0-9]{1,5}" />
                                    </div>
                                </div>

                                <label for="country">Land:</label>
                                <input type="text" name="country" id="country" value="" placeholder="Deutschland" required="required" pattern="[A-Za-z]{1,}" />
                                <div style="padding-top: 2em; padding-bottom: 2em">
                                    <input type="submit" id="submit_registration" value="Registrieren" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-solo">
                    <div class="ui-block-a" style="text-align: center; color: gray; padding-top: 1em" >
                        <em><span>* Min 8. Zeichen + Groß- und Kleinbuchstaben + Sonderzeichen</span></em>
                    </div>
                </div>
            </form>
            </div>
    </div>
    
    <!--Login-->
    <div data-role="page" id="login">
    <div data-role="header">
            <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-left">
                    <a href="#start" class="ui-btn ui-btn-icon-left ui-icon-back">Zurück</a>
            </div>
            <h1>Microservices</h1>
            <div data-role="controlgroup" data-type="horizontal" class="ui-mini ui-btn-right">
                <a href="#login" class="ui-btn ui-btn-icon-left ui-icon-user ui-btn-active">Login</a>
                <a href="#reg" class="ui-btn ui-btn-icon-left ui-icon-edit">Registrierung</a>
            </div>
        </div>
        <div data-role="main" data-type="horizontal">
            <div class="ui-corner-all custom-corners" style="max-width: 600px; margin: 0 auto">
                <div class="ui-grid-solo">
                    <div class="ui-block-a">
                        <h3 class="ui-bar ui-bar-a ui-corner-all">Login</h3>
                        <div class="ui-body ui-body-a ui-corner-all">
                            <form id="login_form">
                            <div class="ui-field-contain">
                                <label for="username_login">Email:</label>
                                <input type="email" name="username_login" id="username_login" value="" required="required"/>
                            </div>
                            <div class="ui-field-contain">
                                <label for="password_login">Passwort:</label>
                                <input type="password" name="password_login" id="password_login" value="" autocomplete="off" required="required"/>
                            </div>
                            <div class="ui-field-contain">
                                <button type="submit" id="submit_login" class="ui-shadow ui-btn ui-corner-all">Login</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>


    