
<html>
   <head>
     <title>Loginformular</title>
     <link rel="stylesheet" href="style.css" type="text/css"></link>
   </head>

<body>

<div class="icon-container icon">
  <h1>Anmelden</h1>
</div>
<div class="icon">
  
	

  <form class="login-form container" method=post>
  <p id="message" style="color: red; display: none;">Benutzername  oder Password ist falsch!</p>
  <p id="message_no_user" style="color: red; display: none;">Benutzername  existiert nicht!</p>
  <p id="message_empty_fields" style="color: red; display: none;">Bitte f&uuml;llen Sie alle Felder aus!</p>



  <p>
  <label>Benutzername <span class="icon">*</span></label>
  <input class= "icon" id = "benutzername" type ="benutzername" required></p>
  
  <p>
  <label> Password <span class="icon">*</span></label>
  <input class= "icon" id = "    pwd" type ="password" required></p>
	
  <button type="submit" name="submit" class="button">Login</button>
  </form>
  <a href="signup">Sich registrieren </a>
  
  
</div>

</body>
</html>




