<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Axxessio</title>
  <link rel="stylesheet" href="login/StyleLogin.css">
 
</head>
 
<body>
  <main id="main-holder">
    <h2>LOGIN</h2>
 
     <form id="login-form">
 
         <div class="container">
            <label><b>Benutzername</b></label>
            <input type="text" placeholder="Benutzername eingeben" name="uname" required>
 
            <label><b>Passwort</b></label>
            <input type="password" placeholder="Passwort eingeben" name="psw" required>
       
            <button type="submit">Login</button>
            <input type="checkbox" checked="checked"> Daten speichern
         
       
         <!--  <button type="button" class="abbrechenbtn">Abbrechen</button>-->
            <span class="psw"> <a href="#">Passwort vergessen?</a></span>
       
             </div>
    </form>
   </main>
</body>
 
</html>