<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Axxess2Cloud - Welcome</title>
<link rel="stylesheet" type="text/css" href="main/css/enhanced.css" />
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.css" />
<script src="main/js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="main/js/jquery.mobile-1.2.0.min.js" type="text/javascript"></script>
<script src="main/js/main.js" type="text/javascript"></script>
<script src="main/js/server.js" type="text/javascript"></script>
</head>
<body>
    <!-- page:select -->
    <div data-role="page" id="select">
        <form id="select-form">
            <!-- page:select - header -->
            <div data-role="header" data-position="fixed">
                <fieldset class="ui-grid-b">
                    <div class="ui-block-a">
                        <a data-role="button" data-transition="slideup" onclick="content()">Umschauen</a>
                    </div>
                    <div id="loginId" class="ui-block-b">
                        <a data-role="button" data-transition="slideup" onclick="login()">Einloggen</a>
                    </div>
                    <div class="ui-block-c">
                        <a data-role="button" data-transition="slideup" onclick="register()">Registrieren</a>
                    </div>
                </fieldset>
            </div>
            <!-- page:select - /header -->
            <!-- page:select - content -->
            <div data-role="content">
                <img src="main/img/splashscreen_400x500px.png" width="100%" />
            </div>
            <!-- page:select - /content -->
        </form>
    </div>
    <div data-role="dialog" id="content-error-dialog" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1>Fehler!</h1>
        </div>
        <div data-role="content" data-theme="d"
            class="ui-corner-bottom ui-content">
            <h2>Umschauen nicht m&ouml;glich</h2>
            <h3>Bitte versuchen sie es sp&auml;ter noch einmal!</h3>
            <a href="/main" data-role="button" data-inline="true"
                data-theme="a">Ok</a>
        </div>
    </div>
    <div data-role="dialog" id="login-error-dialog" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1>Fehler!</h1>
        </div>
        <div data-role="content" data-theme="d"
            class="ui-corner-bottom ui-content">
            <h2>Login nicht m&ouml;glich</h2>
            <h3>Sie k&ouml;nnen jedoch lesend auf den Content zugreifen!</h3>
            <a href="/content" data-role="button" data-inline="true"
                data-theme="a">Ok</a>
        </div>
    </div>
    <div data-role="dialog" id="registration-error-dialog" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1>Fehler!</h1>
        </div>
        <div data-role="content" data-theme="d"
            class="ui-corner-bottom ui-content">
            <h2>Registrierung nicht m&ouml;glich</h2>
            <h3>Bitte versuchen sie es sp&auml;ter noch einmal!</h3>
            <a href="/main" data-role="button" data-inline="true"
                data-theme="a">Ok</a>
        </div>
    </div>
</body>
</html>