<!DOCTYPE html>
<html>
	<head>
		<title> Registierung </title>
		<script src="SubZeroMicroservices/registration/src/main/resources/registrierung.js" type="text/javascript"></script>
		<script src="SubZeroMicroservices/registration/src/main/resources/sha.js" type="text/javascript"></script>
	</head>
	
	<body>
			<div data-role="page" id="register">
			<form id ="register-form">
			</form></div>
		<div>
		<label for="anredelistel" id="anredelistel"> Anrede:</label>
		<br/>
			<select id ="anredelistet">
				<option selected="selected" value ="mann">Herr</option>
				<option value ="frau">Frau</option>
				<option value ="firma">Firma</option>	
			</select>			
		<br/>
		<label for="vnamel" id="vnamel">Vorname:</label>
		<br/>
		<input type ="text" id="vnamet" size="20" maxlength="40"/>
		<br/>
		<br/>
		<label for="namel" id="namel">Name:</label>
		<br/>
		<input type="text" id="vnamet" size="20" maxlength="40"/>
		<br/>
		<br/>
		<label for="emaill" id="emaill">Email:</label>
		<br/>
		<input type="text" id="emailt" size="20" maxlength="40"/>
		<br/>
		<br/>
		<label for="benutzerl" id="benutzerl">Benutzer</label>
		<br/>
		<input type="text" id="benutzert" size="15" maxlength="25"/>
		<br/>
		<br/>
		<label for="passl" id="passl">Passwort:</label>
		<br/>
		<input type="text" id="passt" size="10" maxlength="10"/>
		<br/>
		<label for="pwdhll" id="pwdhll">Passwort (Wiederholen):</label>
		<br/>
		<input type="text" id="pwdhlt" size="10" maxlength="10"/>
		<br/>
		<label for="plzl" id="plzl">Postleitzahl</label>
		<br/>
		<input type="text" id="plzt" size="5" maxlength="5"/>
		<br/>
		<label for="stadtl" id="stadtl">Stadt:</label>
		<br/>
		<input type="text" id="stadtt" size="20" maxlength="40"/>
		<br/>
		<label for="strassel" id="strassel">Strasse</label>
		<br/>
		<input type="text" id="strasset" size="30" maxlength="50"/>
		<br/>
		<label for="hnummerl" id="hnummerl">Hausnummer:</label>
		<br/>
		<input type="text" id="hnummert" size="10" maxlength="10"/>
		<br/>
		 <button type="button" id="regibutton">Registierung</button>
		</div>
	</body>
</html>	